
* {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}  

/* COLORS -- here are where my specific hex-codes go for this project. 

ROYAL BLUE: #0A3CC8

DARKER PINK: #9c0248
BRIGHTER PINK: #B63666
LIGHTER PINK: #e86892
LIGHTEST PINK: #ffcfde

GOLD: #d18519
EGG YOLK: #f7b352
OFF WHITE: #fff6e3
SAND: #F2E2C6

*/


/* NAV BAR*/

/* STYLE the links in the dropdown menu */
.topnav {
    overflow: hidden;
    background-color: #f7b352;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: fixed;
    top: 0; 
    width: 100%;

  }

.topnav a {
    color: #fff6e3;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
  }
  
  /* HIDE the links in the dropdown menu */
  .topnav #myLinks {
    display: none;
    text-align: right; 
  }

  /* STYLE the hamburger menu */
  .topnav a.icon {
    background: #f7b352;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* STYLE the dropdown links and navigation bar upon HOVER */
  .topnav a:hover {
    background-color: #FCCCD4;
    color: #9c0248;
  }
  
  /* STYLE the navigation bar itself. */
  .active {
    background-color: #0A3CC8;
    color: #0A3CC8;
  }


/* GRID --  This is the mobile (base) grid styling of my page. */

/* HOME SECTION */
#hello {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1.5fr 1fr;
    background-color: #ffcfde;
    color: black;
    text-align: center;
}

        .welcome, .one-liner {
            align-self: center;
        }

        .welcome {
            grid-column: 1 / 2; 
            grid-row: 1 / 2;
            font-family: 'Permanent Marker', cursive;
            color: #B63666; 
            font-size: 3.5em;
            padding-top: 40px;
        }

        .one-liner {
            grid-column: 1 / 2; 
            grid-row: 2 / 3;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: 1.4em;
            line-height: 140%;
            padding-top: 40px;
            padding-bottom: 50px;
            margin-left: 15px; 
            margin-right: 15px; 
        }

        .my-name-is-taylor {
            font-size: 1.25em;
            line-height: 200%;
            font-weight: 500;
        }

        .collaboration, .clean-code, .responsive-design {
            font-weight: 500; 
            color: #d18519;
        }

        #hello-icons {
            grid-column: 1 / 2; 
            grid-row: 3 / 4;
            align-items: stretch;
        }

/* ABOUT-ME SECTION */
#about-me {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #F2E2C6;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 30px;
}

        .headshot {
            grid-column: 1 / 2; 
            grid-row: 1 / 2;
            border: 4px solid #B63666;
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 100%;
            align-self: flex-end;
            justify-self: center;
            margin-top: 50px;
        }

        .name {
            grid-column: 1 / 2; 
            grid-row: 2 / 3;
            text-align: center;
            font-family: 'Permanent Marker', cursive;
            font-size: 2em;
            align-self: flex-start;
            margin-bottom: 20px;
            padding-top: -20px;
            justify-self: stretch;
            color: #B63666;
        }

#bio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:#ffcfde;
    color: black; 
    padding: 0 10px;
}

        .bio {
            grid-column: 1 / 2; 
            grid-row: 1 / 2;
            justify-self: center;
            align-self: flex-start;
            margin: 0;
            font-weight: 300; 
            border-top: 3px solid #B63666;
            border-bottom: 3px solid #B63666;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            padding: 20px 10px;
            line-height: 150%;
        }

/* PROJECTS SECTION */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #F2E2C6;
    padding-top: 30px;
}

        .project1, .project2, .project3 {
            text-align: center;
            background-color:#f7b352;
            padding: 10px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            padding-top: 20px;
        }

        .project-title {
            grid-column: 1 / 4; 
            grid-row: 1 / 2;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            font-size: 40px;
            margin: 40px 0; 
        }

        .project1 {
            grid-column: 1 / 2; 
            grid-row: 2 / 3;
        }

        .project2 {
            grid-column: 2 / 3; 
            grid-row: 2 / 3;
        }

        .project3 {
            grid-column: 3 / 4; 
            grid-row: 2 / 3;
        }

/* SKILLS SECTION */
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #ffcfde;
    padding-top: 30px;
}

        .skills-title {
            grid-column: 1 / 4; 
            grid-row: 1 / 2;
            text-align: center;
            font-family: 'Bebas Neue', cursive;
            font-size: 40px;
            margin: 40px 0; 
        }

        /* SKILLS ICONS STYLING  */
        #html {
            grid-column: 1 / 2; 
            grid-row: 2 / 3;
        }

        #css {
            grid-column: 2 / 3; 
            grid-row: 2 / 3;
        }

        #javascript {
            grid-column: 3 / 4; 
            grid-row: 2 / 3;
        }

        #node {
            grid-column: 1 / 2; 
            grid-row: 3 / 4;
        }

        #bootstrap {
            grid-column: 2 / 3; 
            grid-row: 3 / 4;
        }

        #git {
            grid-column: 3 / 4; 
            grid-row: 3 / 4;
        }

        #github {
            grid-column: 1 / 2; 
            grid-row: 4 / 5;
        }

        #vscode {
            grid-column: 2 / 3; 
            grid-row: 4 / 5;
        }

        #commandline {
            grid-column: 3 / 4; 
            grid-row: 4 / 5;
        }

        #secret {
            display: none;
        }

        #html, #css, #javascript, #node, #bootstrap, #git, #github, #vscode, #commandline, #secret {
            margin-top: 10px;
            margin-bottom: 10px;
            list-style-type: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            
        }

        li {
            font-weight: 400;
            padding-top: 5px;
        }

/* CONTACT SECTION */
#contact {
    background-color: #F2E2C6;
    padding-top: 30px;
}

        .contact-title {
            text-align: center;
            justify-self: center;
            font-family: 'Permanent Marker', cursive;
            font-size: 2.75em;
            color: #B63666; 
            padding: 45px 0; 
        }

        .contact-form {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            background-color: #f7b352;
            padding: 40px; 
            color: #B63666;
        }

        button {
            font-weight: 400;
            font-size: 16px;
            border: 2px solid #B63666;
            background-color: #e86892;
            border-radius: 5px;
            padding: 5px;
        }

        input[type=text], select, textarea {
            width: 99%;
            padding: 12px;
            border: 1px solid #B63666;
            border-radius: 5px;
            box-sizing: border-box;
            margin-top: 5px;
            margin-bottom: 10px;
          }




/* FOOTER  */

#footer {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    background-color: #0A3CC8; 
    color: #ffcfde;
    padding: 30px 5px; 
}

        .signature, .location-date, .linkedin-link, .github-link {
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }

        .signature {
            grid-column: 1 / 3; 
            grid-row: 1 / 2; 
            font-weight: 300;
        }

        .location-date {
            grid-column: 1 / 3; 
            grid-row: 2 / 3; 
            font-weight: 300;
        }

        .linkedin-link {
            grid-column: 1 / 2; 
            grid-row: 3 / 4;
            line-height: 150%;
            font-weight: 400;
            text-decoration: none; 
            font-weight: 400;
        }

        .github-link {
            grid-column: 2 / 3; 
            grid-row: 3 / 4; 
            line-height: 150%;
            font-weight: 400;
            text-decoration: none; 
        }

        a {
           text-decoration: none; 
           font-weight: 400;
           color: #ffcfde;
        }

        a:hover {
            background-color: #FCCCD4;
            color: #9c0248;
          }

/* ICONS */
    i.fab, i.fas {
        color: #B63666;
    }

  /* HIDE THE HOT DOG NAV BAR */
    .big-nav {
        display: none;
    }




  
    /*  ! ! ! ! ! ! !  RESPONSIVE DESIGN BREAK POINT ! ! ! ! ! ! !  */
  
    /* TABLET */
@media only screen and (min-width: 768px) {

    /* HIDE THE HAMBURGER NAV BAR */

    .topnav  {
        display: none; 
    }

    /* STYLE THE HOT DOG NAV BAR */

    .big-nav {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
        font-size: 1.25em;
        padding: 15px;
        position: sticky;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        background-color: #0A3CC8;
        position: fixed;
        top: 0; 
        width: 100%;
    }

    .big-nav a {
       float: right;
       display: block;
       text-align: center;
       text-decoration: none;
       padding-right: 30px;
    }

      /* STYLE the hamburger menu */
  .big-nav a:hover {
    background-color: #0A3CC8;
    color: #d18519;
  }


    /* HOME SECTION */
    #hello {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: #ffcfde;
    color: black;
    text-align: center;
    }

        .welcome {
            font-size: 5em;
        }

        .one-liner {
            padding-top: 25px;
            padding-bottom: 40px;
            margin-left: 100px;
            margin-right: 100px;
        }

        .my-name-is-taylor {
            font-size: 1.75em;
        }


/* ABOUT-ME SECTION */
        .headshot {
            border: 5px solid #B63666;
            width: 300px; 
            height: 300px;
            margin-top: 100px; 
        }

        .name {
            font-size: 3.25em; 
            padding: 10px 0; 
        }

        .bio {
            font-weight: 400; 
            font-size: 1em; 
            padding: 20px 60px;
            line-height: 175%;
        }

/* PROJECTS SECTION */
        .project1, .project2, .project3 {
            padding: 40px 10px 20px 10px;
            font-weight: 400;
            margin-bottom: 40px;
        }

        .project-title {
            font-size: 60px;
            margin: 60px 0;
            letter-spacing: 2.5px; 
        }

/* SKILLS SECTION */
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

        .skills-title {
            grid-column: 1 / 6; 
            grid-row: 1 / 2;
            font-size: 60px;
            margin: 60px 0;
            letter-spacing: 2.5px; 
        }

        /* SKILLS ICONS STYLING  */
        #html {
            grid-column: 1 / 2; 
            grid-row: 2 / 3;
        }

        #css {
            grid-column: 2 / 3; 
            grid-row: 2 / 3;
        }

        #javascript {
            grid-column: 3 / 4; 
            grid-row: 2 / 3;
        }

        #node {
            grid-column: 4 / 5; 
            grid-row:  2 / 3;
        }

        #bootstrap {
            grid-column: 5 / 6; 
            grid-row:  2 / 3;
        }

        #git {
            grid-column: 1 / 2; 
            grid-row: 3 / 4;
        }

        #github {
            grid-column: 2 / 3; 
            grid-row: 3 / 4;
        }

        #vscode {
            grid-column: 3 / 4; 
            grid-row: 3 / 4;
        }

        #commandline {
            grid-column: 4 / 5; 
            grid-row: 3 / 4;
        }

        #secret {
            display: block;
            grid-column: 5 / 6; 
            grid-row: 3 / 4;
        }

        #html, #css, #javascript, #node, #bootstrap, #git, #github, #vscode, #commandline, #secret {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 1.35em;
        }

    /* CONTACT SECTION */

    #contact {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        padding-top: 0px;
    }
    
            .contact-title {
                grid-column: 1 / 2; 
                grid-row: 1 / 2; 
                writing-mode: vertical-lr;
                font-size: 4em;
            }
    
            .contact-form {
                grid-column: 2 / 3; 
                grid-row: 1 / 2;
            }
    
            button {
            }
    
            input[type=text], select, textarea {
                width: 100%;     /* ! */
              }
    

/* FOOTER  */

#footer {
    padding: 40px 30px;
}
        .signature, .location-date, .linkedin-link, .github-link {
            font-size: 1.15em;
        }

        .signature {
            font-size: 1.2em;
        }

        .location-date {
            font-size: 1.2em;
        }

        .linkedin-link {
            margin-left: 200px;
        }

        .github-link {
            margin-right: 200px;
        }


}

/* DESKTOP */
@media only screen and (min-width: 992px) {

    /* HOME SECTION */

            .welcome {
                font-size: 8em;
                padding-top: 100px;
            }
    
            .one-liner {
                font-size: 25px;
            }
    
            .my-name-is-taylor {
                font-size: 3em;
            }

/* ABOUT-ME SECTION */
        .headshot {
            border: 4px solid #B63666;
            /* margin-top: 125px;  */
        }

        .name {
            font-size: 4.25em; 
            padding: 20px 0; 
        }

        .bio {
            font-weight: 400; 
            font-size: 1.3em; 
            padding: 40px 200px;
            line-height: 160%;
        }


/* PROJECTS SECTION */

.project-title {
    font-size: 80px;
    margin: 80px 0;
    letter-spacing: 3px; 
}

/* SKILLS SECTION */

.skills-title {
    font-size: 80px;
    margin: 80px 0;
    letter-spacing: 3px; 
}

#html, #css, #javascript, #node, #bootstrap, #git, #github, #vscode, #commandline, #secret {
    font-size: 1.75em;
}


/* FOOTER SECTION */

        .signature, .location-date, .linkedin-link, .github-link {
            font-size: 1.5em;
        }

        .signature {
            font-size: 1.6em;
        }

        .location-date {
            font-size: 1.6em;
        }

        .linkedin-link {
            margin-left: 200px;
        }

        .github-link {
            margin-right: 200px;
        }

}